$bar-width: 50px;

.bar-container {
  position: absolute;
  z-index: 100;

  &.bar-container--left {
    background: purple;
    top: 0;
    left: 0;
    width: $bar-width;
    height: 100vh;
  }

  &.bar-container--right {
    background: rgba($color: #333, $alpha: 1.0);
    border-left: 1px solid black;
    top: 0;
    right: 0;
    width: $bar-width;
    height: 100vh;
    min-width: 220px;
    max-width: 25vw;

    .section {
      outline: 1px 0px 1px 0px solid black;
      padding: 10px;
    }
  }

  &.bar-container--bottom {
    bottom: 0;
    left: $bar-width;
    width: calc(100vw - (#{$bar-width} * 2));
    min-height: 100px;
  }
}
