$bar-width: 50px;

.dnd-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 2000px;
  height: 2000px;
  z-index: 0;
  transform-origin: top left;
  pointer-events: none;

  .furniture {
    position: absolute;
    z-index: 100;
    border-radius: 10px;
    display: flex;
    cursor: pointer;
    pointer-events: all;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);

    .title {
      font-size: 12px;
      padding: 4px;
      border-radius: 4px;
      background: rgba(255, 255, 255, 0.5);
      margin: auto;
    }

    .width,
    .height {
      display: none;
    }
  }

  .room {
    position: absolute;
    z-index: 50;
    border-radius: 10px;
    display: flex;
    cursor: pointer;
    pointer-events: all;
    background: rgba(0, 0, 0, 0.25);
    outline: 20px solid rgba(0, 0, 0, 0.5) !important;
    color: white;

    .title {
      position: absolute;
      text-align: center;
      width: 100px;
      left: calc(50% - 50px);
      top: -40px;
    }

    .width {
      position: absolute;
      text-align: center;
      width: 100px;
      left: calc(50% - 50px);
      top: -20px;
    }

    .height {
      position: absolute;
      text-align: center;
      width: 100px;
      top: calc(50% - 50px);
      transform: rotate(-90deg);
      left: -60px;
    }
  }
}
